# Database Credentials
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=travel_crm_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_secure_pass

# AWS Credentials (Free Tier / LocalStack)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=mock_access_key
AWS_SECRET_ACCESS_KEY=mock_secret_key
AWS_S3_BUCKET_NAME=luxury-travel-crm-data-lake
# Set to http://localhost:4566 when using LocalStack locally, or leave blank for real AWS S3
AWS_S3_ENDPOINT_URL=http://localhost:4566

# Dataset Settings
RAW_DATA_PATH=data/raw/raw_travel_bookings.csv
CLEAN_DATA_PATH=data/cleaned/cleaned_travel_bookings.csv
REJECTED_DATA_PATH=data/rejected/rejected_travel_bookings.csv
BATCH_SIZE=10000
